.git
.vs
.vscode
**/bin
**/obj
publish
TestResults
**/*.user
**/*.suo
**/appsettings.json
**/appsettings.*.json
!**/appsettings.example.json
**/migrations.sql
.env
.env.*
**/*.pem
**/*.pfx
**/*.log
**/*.db
**/*.db-*
**/*.db.*
**/*.sqlite*
**/db_dump.sql
